body {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
}
h1 {
    font-weight: 900;
    margin: 0px !important;
}
p {
    margin: 0px !important;
}
img {
    color: white;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 4px 18px;
    border-radius: 8px;
    margin-top: 8px;
}
.hero,
.information,
.quote-section,
.footer {
    padding: 0 60px;
}
.hero,
.footer {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-evenly;
    column-gap: 25%;
    padding-top: 12px;
}
.hero-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0px;
    column-gap: 5%;
}
.title-box {
    max-width: 450px;
}
#title-photo {
    max-width: 350px;
}
#title-button {
    border: 0;
}
.text {
    font-size: 18px;
    color: #e5e7eb;
}
.call-to-action {
    padding: 40px 80px;
}
.quote-section {
    background-color: #E5E7EB;
}
.quote {
    font-size: 36px;
    color: #1F2937;
}
.foot-butt {
    border-color: white;
}
.information > h1 {
    font-size: 36px;
    color: #1F2937;
    margin-block-start: 0;
    margin-block-end: 0;
}
.title-box > h1 {
    font-size: 48px;
    color: #F9FAF8;
}
#call-to-action {
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
}
