body {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
}
h1 {
    font-weight: 900;
    margin: 0px !important;
}
p {
    margin: 0px !important;
}
img {
    color: white;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 4px 12px;
    border-radius: 8px;
}
.hero,
.footer {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-evenly;
}
/* .right-header {
    margin-left: auto;
}
.left-header  {
    margin-right: auto;
} */
.hero-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.title-box {
    max-width: 400px;
}
#title-photo {
    max-width: 400px;
}
.text {
    font-size: 18px;
    color: #e5e7eb;
}
.call-to-action {
    padding: 40px 80px;
}
.quote-section {
    background-color: #E5E7EB;
}
.quote {
    font-size: 36px;
    color: #1F2937;
}
.foot-butt {
    border-color: white;
}
.information > h1 {
    font-size: 36px;
    color: #1F2937;
    margin-block-start: 0;
    margin-block-end: 0;
}
.title-box > h1 {
    font-size: 48px;
    color: #F9FAF8;
}
#call-to-action {
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
}
